div.card {
    background-color: white;
    border: 1px;
    border-radius: 5px;
}

div nav{
    background-color: white; 
}

div nav button.navbar-toggler.hidden-lg-up{
    border: 0px;
}

.dropdown-menu.show{
    border:0px;
}

.jumbotron{
    background-color: white;
    padding-top: 5em;
}

.modal-description, .modal-tools-description{
    padding-bottom: 20px;
}

body{
    padding-bottom: 20px;
}